{{#if isEditing}}
  {{partial 'post/edit'}}
  <button {{action 'doneEditing'}}> Done </button>
  {{else}}
  <button {{action 'edit'}}> Edit </button>
{{/if}}

<h1>{{model.title}}</h1>
<h2>by {{model.author.name}} <small class="muted">{{format-date model.date}}</small> </h2>

<hr>
<div class = "body">
{{model.body}}
</div>
